* {
    margin:0;
    text-align: center;
}
#intro {
    background-image: url("../images/wood.jpg");
    background-size: cover;
    height: 100vh;
    color:whitesmoke;
}

#skills {
    background-color: white;
    background-size: cover;
    width: 100%;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 100px;
    color:black;
}

#projects {
    padding: 50px;
    text-align: center;
    background-color: lightgrey;
}
#contact {
    background-color:white;
    text-align: center;
    padding: 50px;
}

#resume {
    background-color: black;
    height:100vh;
    width: 100%;
}

.move-btn {
    align-content: center;
    align-items: center;
    text-align: center !important;
    color:whitesmoke;
    margin: 5px;
    position: relative;
    bottom: 0px;
    
}
.icon {
    font-size: 30px;
    margin: 5px;
    color:whitesmoke;
}
.btn {
    border:0px solid transparent;
}

h3 {
    text-align: left !important;
}
.skill {
    margin: 5px;
    background-color: white;
}
#mail-btn {
    border:0px solid transparent;
    font-size: 50px;
    margin-top: 30px;

}

.btn-section {
    position: absolute;
    bottom: 20px;
    right: 50%; 
}