* {
	margin:0;
	text-align: center;
}
body {
	overflow-x: hidden;
}
.container-fluid {
	padding-right: 0px;
	padding-left: 0px;
}
#intro {
	background-image: url("../images/wood.jpg");
	background-size: cover;
	height: 100vh;
	color:whitesmoke;
}

#skills-section {
	display: inline;
}
#skills {
	background-color: white;
	background-size: cover;
	width: 100%;
	display: inline-block;
	padding-top: 50px;
	padding-bottom: 100px;
	color:black;
}

#projects {
	text-align: center;
	background-color: lightgrey;
	padding: 50px;
}
#contact {
	background-color:white;
	text-align: center;
	padding: 50px;
}

.icon {
	font-size: 30px;
	margin: 5px;
	color:whitesmoke;
}
.icon:hover {
	transform: scale(1.1);
}
.btn {
	border:0px solid transparent;
}

h3 {
	text-align: left !important;
}

#mail-btn {
	border:0px solid transparent;
	font-size: 50px;
}
#mail-btn:hover {
	transform: scale(1.1);
}

.overlay {
	position: absolute;
	top: 0px;
	background-color: black;
	color: white;
	opacity: 0.8;
	width:200px;
	height:150px;
	padding: 10px;
}

a.block {
	display: block;
	color: lightskyblue;
}

a.block:hover{
	transform: scale(1.1);
}

#footer {
	background-image: url("../images/wood.jpg");
	height: 40px;
	padding: 10px;
	color: white;
}
.nav-link:hover{
	transform: scale(1.1);
}

#email {
	font-family: 'Courier New', Courier, monospace;
}

.badge-primary:hover {
	color: steelblue;
}